body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  header {
    background-color: #3A6604;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
    color: #A4EA4F;
  }
  
  main {
    max-width: 600px;
    margin: 40px auto;
    padding: 0 20px;
  }
  
  h2 {
    color: #3A6604;
    text-align: center;
    margin-bottom: 25px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  label {
    font-weight: 600;
  }
  
  input, textarea {
    padding: 12px;
    border: 2px solid #A4EA4F;
    border-radius: 12px;
    font-size: 1rem;
    background-color: #f9fff5;
  }
  
  button {
    background-color: #65B307;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #3A6604;
  }
img{
    width: 100px;   
    height: 100px;
}  