  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
        

 
body {
        font-family: 'Poppins', sans-serif;
        background-color: #f5f0e8;
 }

.logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: #B35C22; 
  text-decoration: none;
}

.top-bar {
   background-color: #f6efdd; 
}
    .profile-card {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
        padding-left: 5px;
    }

    .order-card:hover {
        transform: translateY(-2px);
        transition: transform 0.2s ease;
    }

    .btn-primary {
        background-color: #e6c8a2;
    }

    .btn-primary:hover {
        background-color: #d4b38a;
    }

    .btn-secondary {
        background-color: #f0e6d2;
    }

    .btn-secondary:hover {
        background-color: #e6d9c0;
    }

    .section-title {
        border-left: 4px solid #d4a373;
    }

        