<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Redefinir Senha - Álcool.bet</title>
  <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
  <main class="login-container">
    <div class="login-box">
      <h1 class="login-title">Crie uma Nova Senha</h1>
      <form method="POST">
        <input type="password" name="senha" placeholder="Nova Senha" required>
        <input type="password" name="confirmarSenha" placeholder="Confirmar Nova Senha" required>
        <button type="submit" class="btn">Atualizar Senha</button>
      </form>
    </div>
  </main>
</body>
</html>